.fieldset {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-block-end: 1.5rem;
}

.fieldset-field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-inline-size: 0;
	text-align: left;
	gap: 0.625rem;
}

.fieldset-field label {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	inline-size: 100%;
}

.fieldset-field input {
	padding-inline-end: 0.75rem;
	padding-inline-start: 0.75rem;
	padding-block-end: 0.6563rem;
	padding-block-start: 0.6563rem;
	border: 1px solid var(--grey2);
	border-radius: 0.625rem;
	-webkit-border-radius: 0.625rem;
	-moz-border-radius: 0.625rem;
	-ms-border-radius: 0.625rem;
	-o-border-radius: 0.625rem;
	inline-size: 100%;
	box-sizing: border-box;
	font: var(--textRegular1);
}

.fieldset-field input:focus-within {
	box-shadow: 0px 4px 18px rgba(158, 168, 189, 0.31);
}

.fieldset-field input:disabled {
	background: var(--grey2);
	color: var(--grey);
}

.fieldset-field input:disabled::-webkit-input-placeholder {
	color: var(--grey);
}

.fieldset-subset {
	display: flex;
	gap: 0.75rem;
}
